<div class="u-full-width searchIndex">
<form action="/search" method="GET">
<input type="text" name="question">
<button type="submit">Search</button>
</form>
</div>
<div class="u-full-width footer">
    <span>&copy; 2017 xcode.bk@gmail.com</span>
</div>