<div class="u-full-width searchResult">
  <form action="/search" method="GET">
    <input type="text" name="question">
    <button type="submit">Search</button>
  </form>
</div>
<div class="u-full-width">
   {{#each rows}}
  <div class="row">
   {{#each this}}
    <div class="four columns" style="padding:10px">
      <a href="{{this.url}}"><img style="width: 100%" src="{{this.imageUrl}}" alt="">Video {{this.title}}</a><br>
    </div>
    {{/each}}
  </div>
  {{/each}}
</div>

<div class="u-full-width footer">
  <span>&copy; 2017 xcode.bk@gmail.com</span>
</div>