  <form action="/search" method="GET">
<input type="text" name="question">
<button type="submit">Search</button>
</form>
  {{#each items}}
    
    <a href="{{this.url}}"><img src="{{this.imageUrl}}" alt=""><br>Video {{this.title}}</a><br>
  {{/each}}